[Unit]
Description=Telegram CAPTCHA bot service
After=network-online.target
Wants=network-online.target

[Service]
Type=simple
WorkingDirectory=Telegram-CAPTCHA-bot # 将 Telegram-CAPTCHA-bot 更改为 Telegram-CAPTCHA-bot 文件夹的绝对路径（打开文件夹后可输入 pwd 命令查看）
ExecStart=/usr/bin/python3 main.py # 将 main.py 更改为 main.py 的绝对路径
Restart=always
PrivateTmp=True
KillSignal=SIGINT
TimeoutStopSec=10s
StartLimitInterval=400

[Install]
WantedBy=multi-user.target
